* {box-sizing: border-box;}

html {
  cursor: url("icon/favicon.ico"), default;
}

body {
	background-color: #F2BEE4;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center right;
	position: relative;
	margin: 0;
	font-family: "OpenDyslexic-Regular";
	padding-bottom: 6px;
		}

@font-face {
  font-family: OpenDyslexic-Regular;
  src: url(OpenDyslexic-Regular.otf);
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

#container {
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-top: 0;
	line-height: 1.5em;
}

hr {border: 1px solid purple;
	background-color: purple;
	padding-bottom: 0px;
	margin: 0px; }

main {
  float: left;
  width: 65%;
  border: 1px solid gray;
  padding: 2em;
  text-align: justify;
}
aside {
  float: right;
  width: 20%;
  border: 1px solid gray;
  color: pink;
  padding: 1em;
  margin: 0px;
}

a {
  font-weight: bold;
  color: purple;
  text-decoration: none;
  border: 0px;
}
a:hover {
  color: violet;
}

html {scroll-behavior: smooth; }
	p { line-height: 1.5em; }

	nav {
		position: fixed;
		left: 0;
		top: 0px;
		height: 3em;
		width: 100%;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.65);
		border: 1px solid purple;
		margin: 0;
		margin-top: -10px;
		padding: 0 0 10px 0;
		z-index: 10;
		}
	nav a {
		text-decoration: none;
		color: #CE93D8;
		}
	nav a:hover {color: violet;}
	nav ul {list-style-type: none;}
	nav ul li {
		display: inline;
		margin-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px dotted #999;
		}
		nav ul li a img {vertical-align: text-bottom;}
		nav ul li last-child {border-right: none};

	#main {
		margin-top: 3em;
		padding: 0 0.5em 0 0.5em;
		padding-bottom: 100px;
		}

	header picture img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}

	video {width: 100%;	height: 100%;}

	section { margin-top: 2px; }

	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #91AAF2;
		text-align: center;
		border-top: 2px solid purple;
		}

	.dropdown {
		cursor: pointer;
		position: relative;
		display: inline-block;
		}

	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 13em;
		background-color: #91AAF2;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 20;
		}

	.dropdown-content a {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
		padding: 0.5em 2em 0.5em 1em;
		text-decoration: none;
		border-bottom: 1px solid gray;
		display: block;
		}

	.dropdown:hover .dropdown-content {display: block;}

	/* @media screen and (max-width: 600px) {
		body { background-color: purple; color: black; }
		} */

.corner {
	bottom: 0px;
	margin: 10px;
	right: 0px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

.middle {
	bottom: 0px;
	margin: 10px;
	right: 90px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

.corner2 {
	bottom: 0px;
	margin: 10px;
	right: 180px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #91AAF2 #F2BEE4;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #F2BEE4;
}
*::-webkit-scrollbar-thumb {
  background-color: #91AAF2;
  border-radius: 20px;
  border: 2px solid #F2BEE4;
}


/*GRIDS BELOW: */

#two {
	display: grid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 950px;
	grid-template-columns:  repeat(2, auto);
	grid-template-rows: repeat(6, auto);
	justify-content: center;
}

#three {
	display: grid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 950px;
	grid-template-columns:  repeat(3, auto);
	grid-template-rows: repeat(6, auto);
	justify-content: center;
}

#three div.box1 {
	grid-column-start: 1;
	grid-column-end: 4;
}

#three div.box2 {
	grid-column-start: 2;
	grid-column-end: 4;
}

#four {
	display: grid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 950px;
	grid-template-columns:  repeat(4, auto);
	grid-template-rows: repeat(6, auto);
	justify-content: center;
}

#four div.box1 {
	grid-column-start: 1;
	grid-column-end: 3;
}

#four div.box2 {
	grid-column-start: 3;
	grid-column-end: 5;
}

#five {
	display: grid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 950px;
	grid-template-columns:  repeat(5, auto);
	grid-template-rows: repeat(6, auto);
	justify-content: center;
}

#five div.box1 {
grid-column-start: 3;
	grid-column-end: 6; }

#five div.box2 {
grid-column-start: 1;
	grid-column-end: 3; }

#five div.box3 {
grid-column-start: 1;
	grid-column-end: 6; }

#six {
	display: grid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1px;
	margin-bottom: 1px;	width: 950px;
	grid-template-columns:  repeat(6, auto);
	grid-template-rows: repeat(6, auto);
	justify-content: center;
}

#six div.box1 {
grid-column-start: 1;
grid-column-end: 4; }

#six div.box2 {
grid-column-start: 4;
grid-column-end: 7; }

#six div.box3 {
grid-column-start: 1;
grid-column-end: 3; }

#six div.box4 {
grid-column-start: 3;
grid-column-end: 5; }

#six div.box5 {
grid-column-start: 5;
grid-column-end: 7; }

#six div.box6 {
grid-column-start: 1;
grid-column-end: 7; }

#six div.box7 {
grid-column-start: 3;
grid-column-end: 7; }

#six div.boxa {
grid-column-start: 5;
grid-column-end: 7; }

#seven {
	display: grid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1px;
	margin-bottom: 1px;	width: 950px;
	grid-template-columns:  repeat(7, auto);
	grid-template-rows: repeat(6, auto);
	justify-content: center;
}

#seven div.boxa {
grid-column-start: 4;
grid-column-end: 6; 
grid-row-start: 1;
grid-row-end: 3;}

#seven div.boxb {
grid-column-start: 6;
grid-column-end: 8; 
grid-row-start: 1;
grid-row-end: 3;}


/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 5%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #91a9f294;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 80%;
	max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
	color: white;
	background-color: rgba(242,190,228, 0.5);
	position: absolute;
	top: 80px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
  }

  .thumbnails {
	margin: auto;
	width: 25%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	background-color: rgba(242,190,228, 0.5);
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }

  /* Position the "prev button" to the left */
  .prev {
	left: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(242,190,228, 1);
  }
  
  img.demo {
	opacity: 0.6;
	height: 8%;
	width: 8%;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }