* {
	box-sizing: border-box;
	font-family: OpenDyslexic-Regular;
	scrollbar-width: thin;
	scrollbar-color: #91AAF2 #F2BEE4;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
	width: 12px;
  }
  *::-webkit-scrollbar-track {
	background: #F2BEE4;
  }
  *::-webkit-scrollbar-thumb {
	background-color: #91AAF2;
	border-radius: 20px;
	border: 2px solid #F2BEE4;
  }

html {
  cursor: url("icon/favicon.ico"), default;
  scroll-behavior: smooth;
}

body {
	background-color: #F2BEE4;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center right;
	position: relative;
	margin: 0;
	font-family: "OpenDyslexic-Regular";
	padding-bottom: 6px;
	}

@font-face {
  font-family: OpenDyslexic-Regular;
  src: url(OpenDyslexic-Regular.otf);
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center; line-height: 1.5em;}
div {text-align: center;}

#container {
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-top: 0;
	line-height: 1.5em;
}

#page-container {position: relative; min-height: 100%;}
  
#content-wrap {padding-bottom: 13rem; /* Footer height */}

hr {border: 1px solid purple;
	background-color: purple;
	padding-bottom: 0px;
	margin: 0px; }

main {
  float: left;
  width: 65%;
  border: 1px solid gray;
  padding: 2em;
  text-align: justify;
}
aside {
  float: right;
  width: 20%;
  border: 1px solid gray;
  color: pink;
  padding: 1em;
  margin: 0px;
}

a {
  font-weight: bold;
  color: purple;
  text-decoration: none;
  border: 0px;
}
a:hover {
  color: violet;
}

/* NAVBAR */

	nav {
		display: flex;
		position: fixed;
		float: left;
		text-align: left;
		width: 100%;
		height: auto;
		color: #fff;
		background-color: rgba(122,56,166, 0.5);
		margin-top: -10px;
		z-index: 10;
		}
	nav a {
		text-decoration: none;
		color: white;
		}
		/* 7A38A6 */
	nav a:hover {color: #CE93D8;}
	nav ul {list-style-type: none;}
	nav ul li {
		display: inline-flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		padding-left: 10px;
		padding-right: 10px;
		}
		nav ul li a img {vertical-align: text-bottom;}
		nav ul li last-child {border-right: none}

	header picture img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}

	#about { margin-top: 2px; }

	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100vw;
		text-align: center;
		background-color: #91AAF2;
		}

	.dropdown {
		cursor: pointer;
		position: relative;
		display: inline-block;
		}

	.dropdown-content {
		display: none;
		position: absolute;
		right: 0;
		min-width: 10em;
		background-color: #91AAF2;
		box-shadow: 0px 8px 16px 0px rgba(182, 123, 197, 0.2);
		z-index: 20;
		}

	.dropdown-content a {
		background-color: rgba(182, 123, 197, 0.8);
		color: white;
		padding: 0.5em 2em 0.5em 1em;
		text-decoration: none;
		border-bottom: 1px solid white;
		display: block;
		}

	.dropdown:hover .dropdown-content {display: block;}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

  .button {
	display: inline-block;
	margin: 2%;
	padding: 15px 25px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	color: #fff; 
	background-color: #91AAF2;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #CE93D8;
  }
  
  .button:hover {background-color: #91AAF2}
  
  .button:active {
	background-color: #91AAF2;
	box-shadow: 0 5px #CE93D8;
	transform: translateY(4px);
  }

.grid-container-videos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1%;
	margin: 2%;
	justify-content: space-around;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	gap: 2%;
	margin: 2%;
	padding-bottom: 1%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
}

/* PHOTO GRID */
  
  .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 1%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other. 
  Removed bc I don't like the way it looks lol
  @media screen and (max-width: 600px) {
	.column {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  } */

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 5%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #91a9f294;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	max-width: 75vw;
	max-height: 85vh;
  }
  
  /* The Close Button */
  .close {
	color: white;
	background-color: rgba(242,190,228, 0.5);
	position: absolute;
	top: 80px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
  }

  .thumbnails {
	margin: auto;
	width: 25%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50vh;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	background-color: rgba(242,190,228, 0.5);
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }

  /* Position the "prev button" to the left */
  .prev {
	left: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(242,190,228, 1);
  }
  
  img.demo {
	opacity: 0.6;
	height: 8%;
	width: 8%;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }