* {box-sizing: border-box;}

html {
  cursor: url("icon/favicon.ico"), default;
}

body {
	background-color: #F2BEE4;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center right;
	position: relative;
	margin: 0;
	font-family: "OpenDyslexic-Regular";
	padding-bottom: 6px;
		}

@font-face {
  font-family: OpenDyslexic-Regular;
  src: url(OpenDyslexic-Regular.otf);
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

#container {
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-top: 0;
	line-height: 1.5em;
}

hr {border: 1px solid purple;
	background-color: purple;
	padding-bottom: 0px;
	margin: 0px; }

main {
  float: left;
  width: 65%;
  border: 1px solid gray;
  padding: 2em;
  text-align: justify;
}
aside {
  float: right;
  width: 20%;
  border: 1px solid gray;
  color: pink;
  padding: 1em;
  margin: 0px;
}

a {
  font-weight: bold;
  color: purple;
  text-decoration: none;
  border: 0px;
}
a:hover {
  color: violet;
}

html {scroll-behavior: smooth; }
	p { line-height: 1.5em; }

	nav {
		position: fixed;
		left: 0;
		top: 0px;
		height: 3em;
		width: 100%;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.65);
		border: 1px solid purple;
		margin: 0;
		margin-top: -10px;
		padding: 0 0 10px 0;
		z-index: 10;
		}
	nav a {
		text-decoration: none;
		color: #CE93D8;
		}
	nav a:hover {color: violet;}
	nav ul {list-style-type: none;}
	nav ul li {
		display: inline;
		margin-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px dotted #999;
		}
		nav ul li a img {vertical-align: text-bottom;}
		nav ul li last-child {border-right: none}

	#main {
		margin-top: 3em;
		padding: 0 0.5em 0 0.5em;
		padding-bottom: 100px;
		}

	header picture img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}


	section { margin-top: 2px; }

	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #91AAF2;
		text-align: center;
		border-top: 2px solid purple;
		}

	.dropdown {
		cursor: pointer;
		position: relative;
		display: inline-block;
		}

	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 13em;
		background-color: #91AAF2;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 20;
		}

	.dropdown-content a {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
		padding: 0.5em 2em 0.5em 1em;
		text-decoration: none;
		border-bottom: 1px solid gray;
		display: block;
		}

	.dropdown:hover .dropdown-content {display: block;}

	/* @media screen and (max-width: 600px) {
		body { background-color: purple; color: black; }
		} */

.corner {
	bottom: 0px;
	margin: 10px;
	right: 0px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

.middle {
	bottom: 0px;
	margin: 10px;
	right: 90px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

.corner2 {
	bottom: 0px;
	margin: 10px;
	right: 180px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #91AAF2 #F2BEE4;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #F2BEE4;
}
*::-webkit-scrollbar-thumb {
  background-color: #91AAF2;
  border-radius: 20px;
  border: 2px solid #F2BEE4;
}